.list-height {
  min-height: 65vh;
}
.header-padding {
  padding-bottom: 1.55em;
}
.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
