<div class="container-fluid">
  <div class="row mt-1">
    <div class="col">
      <div *ngIf="false" class="row">
        <div class="col">
          <mat-chip-list>
            <mat-chip class="mr-3">Date</mat-chip>
            <mat-chip class="mr-3">Goal (Planned)</mat-chip>
            <mat-chip class="mr-3">Completed</mat-chip>
            <mat-chip class="mr-3">Journal</mat-chip>
            <mat-chip class="mr-3">Actions</mat-chip>
          </mat-chip-list>
        </div>
        <div class="row">
          <div class="col">
            <div *ngFor="let journal of userJournals" class="card card-body">
              <div class="row">
                <div class="col">
                  {{ journal.Day }}
                </div>
                <div class="col">
                  {{ journal.Planned }}
                </div>
                <div class="col">
                  {{ journal.Completed }}
                </div>
                <div class="col">
                  {{ journal.Journal }}
                </div>
                <div class="col">
                  <button class="btn btn-primary btn-sm float-right">
                    <i class="fas fa-edit"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="true" class="card" style="height: 89vh; overflow: auto">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>Goal (Planned)</th>
              <th>Done</th>
              <th>Journal</th>
              <th>
                <button
                  class="btn btn-primary btn-sm"
                  (click)="openCreateJournalEntryModal()"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let journal of userJournals; index as i"
              class="table-row"
            >
              <td>{{ journal.Day }}</td>
              <td>
                <span>{{ journal.Planned }}</span>
              </td>
              <td>
                <span>{{ journal.Completed }}</span>
              </td>
              <td>
                <span>{{ journal.Journal }}</span>
              </td>
              <td>
                <button
                  ngbTooltip="Edit
                  plans for {{ journal.Day }}"
                  class="btn btn-primary btn-sm mr-1"
                  (click)="openUpdateJournalEntryModal(journal)"
                >
                  <i class="fas fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <div class="row mb-2">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <span [hidden]="editGoal"
                ><b>My Goal: {{ userData.Goal }}</b></span
              >
              <div [hidden]="!editGoal" class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">My Goal</div>
                </div>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Add Goal"
                  [(ngModel)]="userData.Goal"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-success btn-sm"
                    (click)="editGoal = !editGoal"
                  >
                    <i class="fas fa-save"></i>
                  </button>
                </div>
              </div>
              <button
                [hidden]="editGoal"
                class="btn btn-primary btn-sm float-right"
                (click)="editGoal = !editGoal"
              >
                <i class="fas fa-edit"></i>
              </button>
            </div>
            <div class="card-body">
              <ngx-charts-line-chart
                [view]="[900, 350]"
                [scheme]="colorScheme"
                [legend]="true"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxis]="true"
                [yAxis]="true"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                [timeline]="true"
                [results]="graphData"
              >
              </ngx-charts-line-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <b>Scratch Board</b>
              <button
                [hidden]="user?.Notes == cachedScratchBoard"
                class="btn btn-success btn-sm ml-2"
                (click)="updateScratchBoard()"
              >
                <i class="fas fa-save"></i>
              </button>
            </div>
            <quill-editor
              theme="snow"
              [modules]="modules"
              [sanitize]="true"
              [(ngModel)]="user.Notes"
            ></quill-editor>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-2">
                  <b>Users</b>
                </div>
                <div class="col">
                  <input
                    class="form-control"
                    type="search"
                    placeholder="Filter Users"
                    [(ngModel)]="filterUsers"
                  />
                </div>
              </div>
            </div>
            <ul class="list-group list-group-flush list-group-max-height">
              <li
                *ngFor="
                  let us of allUsers$ | async | strFilter: filterUsers:'Name'
                "
                class="list-group-item"
              >
                <i class="fas fa-user-graduate mr-1"></i>
                <span class="mr-1">{{ us.Name }}</span>
                <i
                  *ngIf="us.Instagram && us.Instagram != ''"
                  class="fab fa-instagram mr-1"
                  ngbTooltip="{{ us.Instagram }}"
                ></i>
                <i
                  *ngIf="us.Twitter && us.Twitter != ''"
                  class="fab fa-twitter mr-1"
                  ngbTooltip="{{ us.Twitter }}"
                ></i>
                <i
                  *ngIf="us.Github && us.Github != ''"
                  class="fab fa-github mr-1"
                  ngbTooltip="{{ us.Github }}"
                ></i>
                <i
                  *ngIf="us.Youtube && us.Youtube != ''"
                  class="fab fa-youtube mr-1"
                  ngbTooltip="{{ us.Youtube }}"
                ></i>
                <i
                  *ngIf="us.Twitch && us.Twitch != ''"
                  class="fab fa-twitch mr-1"
                  ngbTooltip="{{ us.Twitch }}"
                ></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
