<div class="container-fluid">
  <div
    *ngIf="user; else signin"
    [mat-menu-trigger-for]="menu"
    class="user-header"
  >
    <span
      ><i *ngIf="user.photoURL == ''" class="fas fa-user-graduate mr-2"></i>
      <img
        class="mr-2"
        style="border-radius: 50%; height: 30px"
        [src]="user.photoURL"
        alt=""
      />{{ user.Name }}
    </span>
  </div>
  <ng-template #signin>
    <div class="user-header" (click)="_authService.googleSignin()">
      <i class="fas fa-user-ninja mr-2"></i>Sign in
    </div>
  </ng-template>
  <div class="mt-3">
    <app-dashboard [user]="user"></app-dashboard>
  </div>
</div>
<!-- User Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openUserModal()">
    <i class="fas fa-sign-out-alt mr-2"></i>Update Account
  </button>
  <button mat-menu-item (click)="_authService.signOut()">
    <i class="fas fa-sign-out-alt mr-2"></i>Sign Out
  </button>
</mat-menu>
