<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-3">
      <div class="card card-body calendar-table">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Day</th>
              <th>Planned</th>
              <th>Completed</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stat of stats; index as i">
              <td>
                <b>{{ i + 1 }}</b>
              </td>
              <td>{{ stat.PlannedTotal }}</td>
              <td>{{ stat.CompletedTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col">
      <ngx-charts-bar-vertical-stacked
        [view]="[1090, 750]"
        [scheme]="colorScheme"
        [results]="graphData"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendPosition]="below"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [animations]="animations"
      >
      </ngx-charts-bar-vertical-stacked>
    </div>
  </div>
</div>
