/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.snow.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* NGX Quill Height */
.ql-container {
  height: 258px !important;
}

/* Snackbar */
.snackbar_default {
  background-color: #673ab7;
  color: white;
}
